.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain RARELY CHANGED rules used when the DetailsView control adapter is enabled. */

div.AspNet-DetailsView-Data ul
{
    margin: 0;
    padding: 0;
}

div.AspNet-DetailsView-Data li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
﻿
/*
     FILE ARCHIVED ON ﻿12:02:47 Feb 23, 2007﻿ AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON ﻿15:10:59 Nov 15, 2024﻿.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
﻿playback timings (ms):
﻿  ﻿captures_list﻿: ﻿0.644﻿
﻿  ﻿exclusion.robots﻿: ﻿0.026﻿
﻿  ﻿exclusion.robots.policy﻿: ﻿0.011﻿
﻿  ﻿esindex﻿: ﻿0.012﻿
﻿  ﻿cdx.remote﻿: ﻿14.105﻿
﻿  ﻿LoadShardBlock﻿: ﻿140.324﻿ (﻿3﻿)
﻿  ﻿PetaboxLoader3.datanode﻿: ﻿197.321﻿ (﻿4﻿)
﻿  ﻿load_resource﻿: ﻿129.67﻿
﻿  ﻿PetaboxLoader3.resolve﻿: ﻿60.033﻿
﻿*/