#InboxContainer
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	padding: 10px 10px 10px 10px;
}

#Inbox #Buttons
{
	margin: 10px 0 10px 0;
}

#Inbox #Buttons .Button
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	color: #000000;
	font-family: Verdana, Sans-Serif;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}﻿
/*
     FILE ARCHIVED ON ﻿15:41:09 Feb 02, 2007﻿ AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON ﻿15:10:58 Nov 15, 2024﻿.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
﻿playback timings (ms):
﻿  ﻿captures_list﻿: ﻿0.499﻿
﻿  ﻿exclusion.robots﻿: ﻿0.018﻿
﻿  ﻿exclusion.robots.policy﻿: ﻿0.009﻿
﻿  ﻿esindex﻿: ﻿0.009﻿
﻿  ﻿cdx.remote﻿: ﻿10.624﻿
﻿  ﻿LoadShardBlock﻿: ﻿99.231﻿ (﻿3﻿)
﻿  ﻿PetaboxLoader3.datanode﻿: ﻿110.351﻿ (﻿4﻿)
﻿  ﻿load_resource﻿: ﻿222.791﻿
﻿  ﻿PetaboxLoader3.resolve﻿: ﻿184.416﻿
﻿*/